@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  background-color: #0b0b0b;
  background: url("images/BackgroundHAWA.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  height: 100dvh;
  overflow: hidden;
}
header {
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 10dvh;
  margin-block-end: 1.5rem;
}
header > a > img {
  width: 100%;
  height: 70%;
  object-position: center;
  object-fit: contain;
  margin-block-start: 1.2rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #ffffff;
  height: 80dvh;
  width: 100vw;
  padding: 10px;
}
model-viewer {
  margin-inline: auto;
  width: 90%;
  height: 60%;
  background-color: #ffffff;
  border-radius: 10px;
}

.attribution p {
  text-align: center;
  font-size: 2vmax;
  font-style: italic;
  font-weight: 400;
  padding-inline: 10px;
}
.attribution h1 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-block-end: 1rem;
}
.arbutton > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#cursive {
  font-family: "Indie Flower", cursive;
  font-style: italic;
  font-weight: 400;
  margin-block-end: 1rem;
  text-align: center;
  font-size: 1.1rem;
}
.arbutton {
  font-style: normal;
  font-weight: 700;
  border-radius: 1.5rem;
  background: #00000057;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  outline: none;
  border: none;
  font-size: 0.7rem;
  display: none;
}
button:focus {
  outline: none;
}
#customARButton {
  width: 150px;
  font-size: 1rem;
  margin-inline: auto;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 700;
  color: #0b0b0b;
  padding: 10px 15px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
}
#customARButton::before {
  content: url("images/arrow.png");
  position: absolute;
  left: -50px;
  width: 50%;
  bottom: -40px;
  transform: scale(0.5);
}
.footer {
  height: 5dvh;
}
.footer > .social-links {
  display: flex;
  gap: 1.2rem;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.footer > .social-links > * {
  color: aliceblue;
}
@media (min-width: 650px) {
  model-viewer {
    width: 550px;
    height: 250px;
  }
}
